h1 {
    color: rgb(11, 27, 121)
  }

p.about {
    color: aquamarine;
    font-weight: 300;
}

h2 {
    position: absolute;
    left: 50%;
    background-color: blueviolet;
}

footer {
    background-color: blue;
    text-align: center;
    text-shadow: 10cm;
}
.home__about-block2{
    display: grid;
    grid-template-columns: 1fr 404px;
    grid-template-areas: 
    "img1 img2"
    "title img2"
    "text text";
    gap: 100px 50px;
}

.home__about-picture1 {
    grid-area: img1;
}

.home__about-picture2 {
    grid-area: img2;
    align-self: flex-end
}

.home__about-title {
    grid-area: title;
    margin: 0;
    font-size: 44px;

}
.home__about-text {
    grid-area: text;
    margin: 0 0 0 auto;
    max-width: 870px;
        }

        .events_container {
            box-sizing: border-box;
            width: 100%;
            max-width: 1414px;
            margin: 0 auto;
            padding-left: 40px;
            padding-right: 40px;
            }
            .event-card {
                display: flex;
                min-width: 280px;
                width: 405px;
                max-width: 100%;
            
            }
            .event-card__link {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-decoration: none;
                color: #1F1E1E;
            }
            .event-card__picture {
            display: block;
            position: relative;
            margin-bottom: 25px;
            width: 100%;
            font-size: 0;
            overflow: hidden;
            
            
            }
            .event-card__picture::before {
                content: '';
                display: block;
                width: 100%;
                padding-top: 107.16%;
                
            }
            .event-card__img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                object-fit: cover;
                overflow: hidden;
            }
            .event-card__title {
                margin: 0 0 15px;
                text-overflow: inherit;
                min-height: 64px;
                font-weight: 700;
                font-size: 24px;
                line-height: 1.375;
            }
            .event-card__text {
                margin: 0 0 auto;
                }
            
            .event-card__time {
                    margin-top: 15px;
                    font-weight: 300;
            }
            .listing {
                display: flex;
                flex-wrap: wrap;
                gap: 120px 60px;
                
            }
            .listing__event-card {
                width: calc(33.33333% - 40px);
            }
